.quiz-card {
    margin: auto;
    width: 50%;
    overflow: hidden;
    margin-top: 50px;
    background-color: lightblue;
}
.user-card {
    margin: auto;
    width: 50%;
    overflow: hidden;
}
h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: darkgrey;
}
mat-card-header {
    display: flex;
    justify-content: center;
}


