.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px
}
.display-flex{
    display:flex;
}
.justify-content-center{

    justify-content: center;
}
.mat-mdc-raised-button {
    background-color: #a9a9a9;
}





.block{
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    /*width: 150px;*/
    width: 200px;


    .quiz-previous-next{
        width: 150px
    }

    .finish-quiz {
        width: 200px;
        background: #a9a9a9;
    }
}