<mat-tab-group>
    <mat-tab label="Quiz">
        <div class="center-button-container">
        <button mat-button>
            <mat-icon class="rounded-button">add</mat-icon>
        </button></div>
        <mat-card class="quiz-card">
            <mat-card-header>
                <mat-card-title>Nom de Quiz</mat-card-title>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Users">
        <mat-card *ngFor="let user of users" class="user-card">
            <mat-card-header>
                <mat-card-title>{{user.firstName}}</mat-card-title>
                <mat-card-actions align="end">
                    <button mat-icon-button (click)="modifyUser(user.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteUser(user.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
        </mat-card>
    </mat-tab>
</mat-tab-group>