<h1>Users</h1>
<mat-card *ngFor="let user of users; let i = index" class="user-card">
    <mat-card-header>
        <div *ngIf="user.id != updateId">
            <mat-card-title>{{i + 1}} : {{user.firstName}}</mat-card-title>
            <mat-card-actions align="end">
                <button mat-icon-button (click)="onUpdateUser(user.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteUser(user.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </div>
        <div *ngIf="user.id == updateId">
            <input id="user_firstName" type="text" matInput [(ngModel)]="user.firstName">
            <mat-card-actions align="end">
                <button mat-icon-button (click)="updateUser(user)">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="onCancelUpdate()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </mat-card-header>
</mat-card>